.imageCard {
    display: flex;
    height: calc(100vh / 3 - var(--grid-gap));
    box-shadow: 0 0 .5em #888888;
}


.imageCard:hover {
    cursor:zoom-in;
}

.preview {
    height: 100%;
}

.previewImage {
    height: 100%;
}